<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90658992459-6k9fh2f6hifuk5gnfnur0ktbmapd90b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90658992459-6k9fh2f6hifuk5gnfnur0ktbmapd90b0</string>
	<key>API_KEY</key>
	<string>AIzaSyCeJdBqW7ElCdDWHqLAQlF7r6YNsTLpUVw</string>
	<key>GCM_SENDER_ID</key>
	<string>90658992459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.celenote.celenoteApp</string>
	<key>PROJECT_ID</key>
	<string>cele-note</string>
	<key>STORAGE_BUCKET</key>
	<string>cele-note.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90658992459:ios:aad2b914b7d98274d138ce</string>
</dict>
</plist>